*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(216, 216, 216);
}

.container-crud{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.container-crud div{
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 25%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 20px -5px rgb(4, 5, 10);
    border: 1px solid #aaa;
    margin-top: 2em;
}
.container-crud div button{
    margin-bottom: 5px;
    height: 3.3em;
    width: 22.5em;
    border-radius: 0.7em;
    border: 0;
    background-color: rgb(68, 79, 117);
    color: #fff;
}

.btn-voltar{
    margin-bottom: 5px;
    height: 4em;
    width: 6.5em;
    border: 0;
    background-color: rgb(68, 79, 117);
    color: #fff;
}

.btn-voltar{
    height: 2.5em;
}
.container-crud div button:hover, .btn-voltar:hover{
    cursor: pointer;
    background-color: rgb(96, 109, 163);
    transition: 0.5s;
}

.container-crud div h2{
    margin-bottom: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

.container-crud div a{
    text-decoration: none;
}

.container-opcoes{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-opcoes img{
    height: 10em;
}

.container-opcoes div{
    padding: 15px;
    margin-right: 12px;
}

.container-opcoes div a div{
    transition: 1s;
    background-color: #fff;
    padding: 80px;
    box-shadow: 30px 30px 20px 10px rgba(4, 5, 10, 0.438);    
}

.container-opcoes div a div p{
    font-size: 2em;
    text-align: center;
}

.container-opcoes div a{
    text-decoration: none;
    color: #000;
}

.container-opcoes div a div:hover{
    transition: 1s;
    transform: translateY(-15px);
}

.box-itens{
    color: #fff;
    position: absolute;
    top: 0;
    margin-top: 7%;
}

#tabela-item{
    max-width: 60%;
}

#tabela,td{
    height: 2em;
    padding: 10px;
}
#tabela tr:nth-child(even){
    background-color:#93a8ac;
    color: #000;
}

#tabela tr:nth-child(even):hover{
    background-color:#9ca9ac;
}

#tabela tr th{
    font-weight: normal;
}

[class*="row"]:hover {
    background-color:#93a8ac;
  }

#tabela{
    background-color:#424B54;
    box-shadow: 15px 15px 10px 5px rgba(4, 5, 10, 0.438);  
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.title{
    height: 2em;
}

.subtitle th{
    padding-right: 15px;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-form form{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 2px 20px -5px rgb(4, 5, 10);
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
}

.container-form form input{
    height: 25px;
    width: 25em;
    margin-bottom: 0.8em;
    padding: 1em;
}

.container-form form select{
    height: 25px;
    width: 25em;
    margin-bottom: 0.8em;
}


.container-form form input:hover{
    outline: 1px solid rgb(32, 68, 201);
}

.container-form form input[type="submit"]{
    margin-top: 1em;
    height: 40px;
    background-color: rgb(68, 79, 117);
    color: #fff;
    border: 0;

}
.container-form form input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(32, 68, 201);
    transition: 0.5s;
}

header{
    height: 5em;
    background-color:#2b3748;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.container-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.menu img{
    height: 3em;
}

.li-container-img{
    padding-top: 9px;
}
.li-container-img a:hover{
    cursor: default;
}


.menu li a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
.menu li ul li{
    display: inline-block;
    margin: 0;
}

.menu li a:hover{
    text-decoration:underline;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}
.box-pedido{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 35em;
    text-align: center;
    padding: 3em;
    background-color:#424B54;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 30px 30px 20px 10px rgba(4, 5, 10, 0.438);    
}

.box-pedido input{
    height: 2em;
    padding: 1em;
    margin-bottom: 1em;
}
.descricao select{
    height: 2.3em;
    margin-bottom: 1em;
}
.botoes button{
    height: 3em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    background-color: rgb(68, 79, 117);
    color: #fff;
    border: 1px solid #000;
}

.botoes button:hover{
    cursor: pointer;
    background-color: rgb(64, 77, 124);
    transition: 0.5s;
}

#tabela-item{
    text-align: center;
    background-color:#353b41;
    padding: 0.5em;
}

.box-pedido label{
    margin-bottom: 0.5em;
}

.preco-unitario,.valor-final,.botoes,.qtd,.descricao{
    display: flex;
    flex-direction: column;
}

.container-form div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.state-city{
    display: flex;
    justify-content: center;
}

.state-city div{
    display: flex;
    flex-direction: column;
}

.container-menu div{
    display: flex;
    flex-direction: column;
}


.usuario-logado img{
    margin-top: 8px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
}

.usuario-logado{
    position: absolute;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
}

.container-user-logado{
    display: flex;
}

.sub-menu-login{
    background-color: #111822;
    color: #fff;
    padding: 15px;
    list-style: none;
    display: none;
}

.sub-menu-login li button{
    padding: 2px;
    width: 50px;
}

.sub-menu-login li button:hover{
    cursor: pointer;
}